* {margin: 0;padding: 0;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {
  font: 100% "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  background: url(../img/bg/4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input -moz-focus-inner {border: 0;}
input {border: 0;}

h1, h2, h3, p {color: #fff;}
a, a:hover, a:active, a:focus {outline: none;color: #c3d1ee;text-decoration: none;}
h1, h2 {font-family:'Arvo', serif;text-align: center;display: inline-block;width: 100%;}
h1 {font-weight: 900;text-shadow: 3px 3px 0 rgba(255,255,255,0.2);}
h2 {font-weight: 300;text-shadow: 1px 1px 0 rgba(255,255,255,0.2);}
p {font-size: 0.8em;padding-top: 10px;}
footer {font-size: 0.7em;}

/* === Responsive settings ================================================================================ */

@media screen and (min-width: 961px) {
  h2 {font-size: 2em;}
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  h2 {font-size: 2em;}
  #countdown  {font-size: 80%;}
  #tw, p {font-size: 80%;}
}

@media screen and (max-width: 640px) {
  h2 {font-size: 1em;}
  #countdown  {font-size: 60%;}
  input {font-size: 70%;}
  #tw, p {font-size: 70%;}
}


/* === Main containers ================================================================================ */

.container-narrow {margin: 0 auto; width:940px; max-width:90%;}
.center, footer, header {text-align: center; margin-top: 20px;}

/* === Hidden container ================================================================================ */

#info {
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-bottom: 1px solid #fff;
  -moz-box-shadow:inset 0 0 6px #000000;
  -webkit-box-shadow:inset 0 0 6px #000000;
  box-shadow:inset 0 0 6px #000000;
}

.info {padding: 15px;}
.info p {text-align: justify;}
address {font-size: 0.8em;padding-top: 10px;}

/* === Button to show hidden container & hide it back ================================================================================ */

nav a{
  background: url(../img/info.svg);
  display:inline-block; 
  background-size: 100%; 
  width:64px; 
  height:64px;
  margin-top: 10px;
}

nav a:hover {background-color: rgba(255,255,255,0.1);}

nav a:active {    
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

hr {display: block; height: 1px;border: 0; border-top: 1px solid #fff;}

/* === TWITTER WIDGET ================================================================================ */

#tw {color: #fff;font-size: 0.8em;}
#tw ul, li {list-style: none;}

/*  === SUBSCRIBE FORM & BUTTON  ================================================================================ */

-webkit-input-placeholder {color: #686b6d;}
-moz-placeholder {color: #686b6d;}
-ms-input-placeholder {color: #686b6d;}

input[type=text] {
  max-width: 80%;
  min-width: 40%;
  padding: 0.7em;
  background: rgb(255,255,255); /* fallback color */
  background: rgba(255,255,255,0.8);
  border: none;
  color: #686b6d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type=text]:focus {
  outline: none;
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 1.00);
}

input[type=submit] {
  margin-top: 10px;
  width: auto;
  z-index: 999;
  padding: 0.7em;
  display: inline-block;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background: #93de5a;
  background: -moz-linear-gradient(top, #93de5a 0%, #76b347 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93de5a), color-stop(100%,#76b347));
  background: -o-linear-gradient(top, #93de5a 0%, #76b347 100%);
  background: -ms-linear-gradient(top, #93de5a 0%, #76b347 100%);
  background: linear-gradient(to top, #93de5a 0%, #76b347 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93de5a', endColorstr='#76b347',GradientType=0 );
}

input[type=submit]:hover{
  cursor: pointer;
  background: #9ded61;
  background: -moz-linear-gradient(top, #9ded61 0%, #80c14d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ded61), color-stop(100%,#80c14d));
  background: -o-linear-gradient(top, #9ded61 0%, #80c14d 100%);
  background: -ms-linear-gradient(top, #9ded61 0%, #80c14d 100%);
  background: linear-gradient(to top, #9ded61 0%, #80c14d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ded61', endColorstr='#80c14d',GradientType=0);
}

input[type=submit]:active {
  -moz-box-shadow:    inset 0 0 6px 2px rgba(84,140,41,0.8);
  -webkit-box-shadow: inset 0 0 6px 2px rgba(84,140,41,0.8);
  box-shadow:         inset 0 0 6px 2px rgba(84,140,41,0.8);
}

input {font-size: 1em;}
.message {color: #fff;font-style: italic;}




/* === COUNTDOWN PLUGIN ================================================================================ */
.hasCountdown {border: none;}
.countdown_rtl {direction: rtl;}
.countdown_holding span {color: #fff;}
.countdown_row {clear: both;padding: 0px 2px;text-align: center;}
.countdown_show1 .countdown_section {width: 98%;}
.countdown_show2 .countdown_section {width: 48%;}
.countdown_show3 .countdown_section {width: 32.5%;}
.countdown_show4 .countdown_section {width: 24.5%;}
.countdown_show5 .countdown_section {width: 19.5%;}
.countdown_show6 .countdown_section {width: 16.25%;}
.countdown_show7 .countdown_section {width: 14%;}
.countdown_section {display: block;float: left;color: #fff;text-align: center;}
.countdown_amount {font-size: 200%;}
.countdown_descr {display: block;width: 10%;}

/* === SOCIAL MEDIA ICONS ================================================================================ */

.social a {
  display:inline-block;
  width:32px; 
  height:32px; 
  background-size: 100%; 
}

.social a:active {    
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.4);
}

.social a:hover {background-color: rgba(255,255,255,0.1);}

a.facebook            {background-image: url(../img/social/light/facebook.svg);}
a.facebook:hover      {background-color: #3c5a98;}
a.twitter             {background-image:url(../img/social/light/twitter.svg);}
a.twitter:hover       {background-color: #2daae1;}
a.youtube             {background-image:url(../img/social/light/youtube.svg);}
a.youtube:hover       {background-color: #cc3333;}
a.vimeo               {background-image:url(../img/social/light/vimeo.svg);}
a.vimeo:hover         {background-color: #1ab7ea;}
a.google              {background-image:url(../img/social/light/google.svg);}
a.google:hover        {background-color: #da2713;}
a.linkedin            {background-image:url(../img/social/light/linkedin.svg);}
a.linkedin:hover      {background-color: #2597de;}
a.pinterest           {background-image:url(../img/social/light/pinterest.svg);}
a.pinterest:hover     {background-color: #ca2026;}
a.dribbble            {background-image:url(../img/social/light/dribbble.svg);}
a.dribbble:hover      {background-color: #ea4c89;}
a.deviantart          {background-image:url(../img/social/light/deviantart.svg);}
a.deviantart:hover    {background-color: #4c5e52;}
a.instagram           {background-image:url(../img/social/light/instagram.svg);}
a.instagram:hover     {background-color: #1c5380;}
a.blogger             {background-image:url(../img/social/light/blogspot.svg);}
a.blogger:hover       {background-color: #ff6300;}
a.tumblr              {background-image:url(../img/social/light/tumblr.svg);}
a.tumblr:hover        {background-color: #44546b;}
a.fivepx              {background-image:url(../img/social/light/fivepx.svg);}
a.fivepx:hover        {background-color: #00aeef;}
a.flickr              {background-image:url(../img/social/light/flickr.svg);}
a.flickr:hover        {background: #fff    url(../img/social/hover/flickr_hover.svg);}
a.rss                 {background-image:url(../img/social/light/rss.svg);}
a.rss:hover           {background-color: #E8621D;}
a.mail                {background-image:url(../img/social/light/mail.svg);}
a.mail:hover          {background:         url(../img/social/hover/mail_hover.svg);}
a.envato              {background-image:url(../img/social/light/envato.svg);}
a.envato:hover        {background-color: #528036;}
a.forrst              {background-image:url(../img/social/light/forrst.svg);}
a.forrst:hover        {background-color: #4d6f54;}
a.github              {background-image:url(../img/social/light/github.svg);}
a.github:hover        {background-color: #211e14;}
a.spotify             {background-image:url(../img/social/light/spotify.svg);}
a.spotify:hover       {background-color: #74bf43;}
a.fancy               {background-image:url(../img/social/light/fancy.svg);}
a.fancy:hover         {background-color: #9FD5FC;}
a.lastfm              {background-image:url(../img/social/light/lastfm.svg);}
a.lastfm:hover        {background-color: #F73600;}
a.reddit              {background-image:url(../img/social/light/reddit.svg);}
a.reddit:hover        {background: #CEE3F8 url(../img/social/hover/reddit_hover.svg);}
a.behance             {background-image:url(../img/social/light/behance.svg);}
a.behance:hover       {background-color: #0086FF;}
a.stackoverflow       {background-image:url(../img/social/light/stackoverflow.svg);}
a.stackoverflow:hover {background-color: #f47920;}
a.soundcloud          {background-image:url(../img/social/light/soundcloud.svg);}
a.soundcloud:hover    {background-color: #FF5C00;}
a.formspring          {background-image:url(../img/social/light/formspring.svg);}
a.formspring:hover    {background-color: #0076bf;}
a.stumbleupon         {background-image:url(../img/social/light/stumbleupon.svg);}
a.stumbleupon:hover   {background-color: #ef4e22;}


/* === SOCIAL MEDIA ICONS FOR TABLET & PHONE ================================================================================ */

.social_touch {width: 100%;}

.social_touch a {
  display:inline-block; 
  background-size: 100%; 
  width:32px; 
  height:32px; 
  text-decoration:none;
}

.social_touch a.facebook      {background: #3c5a98   url(../img/social/light/facebook.svg);}
.social_touch a.twitter       {background: #2daae1   url(../img/social/light/twitter.svg);}
.social_touch a.youtube       {background: #cc3333   url(../img/social/light/youtube.svg);}
.social_touch a.vimeo         {background: #1ab7ea   url(../img/social/light/vimeo.svg);}
.social_touch a.google        {background: #da2713   url(../img/social/light/google.svg);}
.social_touch a.linkedin      {background: #2597de   url(../img/social/light/linkedin.svg);}
.social_touch a.pinterest     {background: #ca2026   url(../img/social/light/pinterest.svg);}
.social_touch a.dribbble      {background: #ea4c89   url(../img/social/light/dribbble.svg);}
.social_touch a.deviantart    {background: #4c5e52   url(../img/social/light/deviantart.svg);}
.social_touch a.instagram     {background: #1c5380   url(../img/social/light/instagram.svg);}
.social_touch a.blogger       {background: #ff6300   url(../img/social/light/blogspot.svg);}
.social_touch a.tumblr        {background: #44546b   url(../img/social/light/tumblr.svg);}
.social_touch a.fivepx        {background: #00aeef   url(../img/social/light/fivepx.svg);}
.social_touch a.rss           {background: #E8621D   url(../img/social/light/rss.svg);}
.social_touch a.envato        {background: #528036   url(../img/social/light/envato.svg);}
.social_touch a.forrst        {background: #4d6f54   url(../img/social/light/forrst.svg);}
.social_touch a.github        {background: #211e14   url(../img/social/light/github.svg);}
.social_touch a.spotify       {background: #74bf43   url(../img/social/light/spotify.svg);}
.social_touch a.fancy         {background: #9FD5FC   url(../img/social/light/fancy.svg);}
.social_touch a.lastfm        {background: #F73600   url(../img/social/light/lastfm.svg);}
.social_touch a.behance       {background: #0086FF   url(../img/social/light/behance.svg);}
.social_touch a.stackoverflow {background: #f47920   url(../img/social/light/stackoverflow.svg);}
.social_touch a.soundcloud    {background: #FF5C00   url(../img/social/light/soundcloud.svg);}
.social_touch a.formspring    {background: #0076bf   url(../img/social/light/formspring.svg);}
.social_touch a.stumbleupon   {background: #ef4e22   url(../img/social/light/stumbleupon.svg);}
.social_touch a.flickr        {background: #fff      url(../img/social/hover/flickr_hover.svg);}
.social_touch a.mail          {background:           url(../img/social/hover/mail_hover.svg);}
.social_touch a.reddit        {background: #CEE3F8   url(../img/social/hover/reddit_hover.svg);}