
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .thank {
        margin: 40px 0;
        text-align: center;
      }
      

      /* Supporting marketing content */
      

      .center {
        text-align: center;
      }

      p {
        text-align: justify;
      }